<template>
  <div class="hello">
    <div class="container">
      <div class="row">
        <!-- start -->
        <div class="col-md-12">
          <div class="add_new">
            <router-link to="/create"  class="btn btn-success"> Add New </router-link>
          </div>
        </div>
        <div class="col-md-4" v-for="note in notes" :key="note.id">
          <div class="card note">
            <div class="note__details">
              <h2> <router-link :to="'/note/'+note.id" > {{note.title}} </router-link></h2>
              <button class="btn btn-primary btn-lg float-left" @click="showNote(note.id)"> Show </button>
              <button class="btn btn-danger btn-lg float-right " @click="del(note.id)"> DELETE </button>
              <button class="btn btn-info btn-lg btn-block " @click="edit(note.id)"> Edit </button>
            </div>
          </div>
        </div>
        <!-- End -->
        <div class="clearfix"></div>
        <div class="col-md-12">
          <div class="text-left">
            Page : {{pagination.from_page}}  total : {{pagination.total_page}}
            <ul class="pagination">
              
              <li v-bind:class="{disabled:!pagination.prev_link}" class="page-item"> <a href="#" @click="getNotes(pagination.prev_link)" class="page-link"> &lt; </a></li>

              <li v-for="n in pagination.last_page" v-bind:key="n" v-bind:class="{active: pagination.current_page == n }" class="page-item"> <a href="#" @click="getNotes(pagination.path_page + n)" class="page-link"> {{n}} </a></li>

              <li v-bind:class="{disabled:!pagination.next_link}" class="page-item"> <a href="#" @click="getNotes(pagination.next_link)" class="page-link"> &gt; </a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Home',
  data () {
    return {
        notes: [],
        note:{},
        pagination:{},
    }
  },
  methods:{
      getNotes(page_url){

        page_url = page_url || this.$host+'notes';
        axios.get(page_url)
        .then((response) => { 
          this.notes = response.data.data ,
          this.pagination = {
            current_page: response.data.meta.current_page,
            last_page: response.data.meta.last_page,
            from_page: response.data.meta.from,
            to_page: response.data.meta.to,
            total_page: response.data.meta.total,
            path_page: response.data.meta.path+'?page=', 
            prev_link: response.data.meta.per_page,
            next_link: response.data.meta.next_page
          }
        });
      },
      
      del(id){ 
        axios
        .delete(this.$host+'note/'+id)
        .then((response) => {
          if( response.data.status == true ){
            let index = this.notes.findIndex(note => note.id === id);
            this.notes.splice(index, 1);
          }
        });
      },
      edit(id){
        this.$router.push({ name: 'noteEdit' , params: { id: id } })
      },

      showNote(id){ 
        this.$router.push({ name: 'note' , params: { id: id } })
      } 
  },
  created(){ 
    this.getNotes(); 
    console.log(this.getNotes());
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 .add_new{
   margin-top: 20px;
   text-align: left
 }
 .btn-info{
    margin-top: 12px;
    display: inline-block;
  }
</style>
