<template>
  <div class="container">
    <div class="row">
      <!-- start -->
      <div class="col-md-12"> 
        
      </div>
      <div class="login-form-1 offset-sm-3 col-md-6"> 
          <div class="alert alert-success text-center" v-if="msg">
            {{msg}}
          </div>

          <ul class="alert alert-danger text-center" v-if="msgError.length">
            <li v-for="(error , index) in msgError" :key="index">  {{error}} </li>
          </ul> 
          <form  @submit.prevent="login()">
              <div class="form-group">
                <input type="text" class="form-control" id="email" v-model="email" placeholder="Your Email *" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" v-model="password" placeholder="Your Password *" />
              </div>
              <div class="form-group">
                <button type="submit" class="btnSubmit" :disabled="disableButton"> Login </button>
              </div>
          </form>
      </div> 
      <!-- End -->
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'NoteCreate',
  data () {
    return {
      msg:"",
      msgError:[], 
      email: '',
      password: '',
      disableButton: false
    } 
  },
  methods:{ 
      login(){
        this.msgError=[]
        if (!this.password) {
          this.msgError.push("Password required.");
        }
        if (!this.email) {
          this.msgError.push('Email required.');
        } else if (!this.validEmail(this.email)) {
          this.msgError.push('Valid email required.');
        }
        if (this.msgError.length) {
          return false;
        }
        
        this.formData = {
          'email':this.email,
          'password':this.password
        }
        //-> Send Request
        this.disableButton = true;
        axios
          .post(this.$host+'auth/login', this.formData)
          .then((response) => {
            if(response.data.status == true){
              localStorage.setItem('token', response.data.access_token );
              this.$router.push({name: 'home'});
            }else{
              this.msgError.push("Invalid data");
            }
          })
          .catch(err =>{
            this.msgError = err;
          })
          .finally(() =>{
            this.disableButton = false 
          });
      },
      validEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .login-container{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .login-form-1{
      padding: 5%;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form-1 h3{
      text-align: center;
      color: #333;
  }
  .btnSubmit
  {
      width: 50%;
      border-radius: 1rem;
      padding: 1.5%;
      border: none;
      cursor: pointer;
  }
  .login-form-1{
    margin-top: 50px;
  }
  .login-form-1 .btnSubmit{
      font-weight: 600;
      color: #fff;
      background-color: #0062cc;
  }
  .login-form-1 .ForgetPwd{
      color: #0062cc;
      font-weight: 600;
      text-decoration: none;
  }
</style>
