<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active"> 
                  <router-link to="/" class="nav-link">Home</router-link>
                </li>
                 
              </ul>
              
            </div>
          </div>
        </div>
      </div> 
    </nav>
    
</template>

<script>

export default {
  name: 'Navbar',
  data () {
    return {
    }
  },
  methods:{
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 .add_new{
   margin-top: 20px;
   text-align: left
 }
 .btn-info{
    margin-top: 12px;
    display: inline-block;
  }
</style>
