<template>
  <div class="container">
    <div class="row">
      <!-- start -->
      <div class="col-md-12">
        <div class="card note">
          <div class="note__details">
            <h2> {{note.title}}  </h2>
            <p> {{note.description}} </p>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Note',
  data () {
    return {
        id:this.$route.params.id,
        note:{}
    }
  },
  methods:{
      showNote(){
        
        axios
        .get(this.$host+'note/'+this.id)
        .then((response) => {
          this.note = response.data.data;
        }); 
      }
  },
  mounted(){
    this.showNote(); 
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .note{ 
      text-align: left;
  }
  .note__details h2{
    margin-bottom: 20px;
  } 
</style>
