<template>
  <div class="container">
    <div class="row">
      <!-- start -->
      <div class="col-md-12">
        <div class="card note">
          <div class="note__details">
            <h2> To Create New Note  </h2> 
            <div class="alert alert-success text-center" v-if="msg">
              {{msg}}
            </div>
            <ul class="alert alert-danger text-center" v-if="msgError.length">
              <li v-for="(error , index) in msgError" :key="index">  {{error}} </li>
            </ul>
            <form @submit.prevent="addData()">
              <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label"> Title </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="title" v-model="title" placeholder="Title" />
                </div>
              </div>
              <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label">DESCRIPTION</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="8" id="description" placeholder="DESCRIPTION" v-model="description"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success" :disabled="disableButton" @click="addData">Create</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'NoteCreate',
  data () {
    return {
      msg:"",
      msgError:[],
      note:{},
      title: '',
      description: '',
      disableButton: false,
    } 
  },
  methods:{ 
      addData(){
        this.msgError=[]
        if (!this.title) {
          this.msgError.push("Title required.");
        }

        if (!this.description) {
          this.msgError.push("Description required.");
        }
        if (this.msgError.length) {
          return false;
        } 
        
        this.formData = {
          'title':this.title,
          'description':this.description
        }
        
        this.disableButton= true;
        axios
          .post(this.$host+'note', this.formData)
          .then((response) => {
            // console.log(response.data);

            if( response.data.status ){
              this.msgError = [];
              this.msg = "Added"
              this.title=""
              this.description=""

            }else{
              // console.log(response.data.error);
              this.msgError = response.data.error;
            }
          })
          .catch(err =>{
            this.msgError = err;
          })
          .finally(() =>{
              this.disableButton = false
          } );
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .note{
      text-align: left;
  }
  .note__details h2{
    margin-bottom: 20px;
  }
</style>
