<template>
  <div class="container">
    <div class="row">
      <!-- start -->
      <div class="col-md-12">
        <div class="card note">
          <div class="note__details">
            <h2> To Edit  </h2>

            <div class="alert alert-success text-center" v-if="msg">
              {{msg}}
            </div>
            <!-- {{msgError}} -->
            <ul class="alert alert-danger text-center" v-if="msgError.length">
              <li v-for="(error , index) in msgError" :key="index">  {{error}} </li>
            </ul>

            <!-- <li v-for="catalog in catalogs"> this index : {{itemObjKey + 1}}</li> -->

            <form @submit.prevent="updateData()">
              <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label"> Title </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="title" v-model="title" />
                </div>
              </div>
              <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label">DESCRIPTION</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="8" id="description" placeholder="DESCRIPTION" v-model="description"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success" :disabled="disableButton" @click="updateData">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      id:this.$route.params.id,
      msg:"",
      msgError:[],
      note:{},
      title: '',
      description: '',
      disableButton: false,
    } 
  },
  methods:{
      showNote(){
        axios
        .get(this.$host+'note/'+this.id)
        .then((response) => {
          this.note = response.data.data;
          this.title = response.data.data.title;
          this.description = response.data.data.description;
        }); 
      },
      updateData(){
        this.formData = {
          'title':this.title,
          'id':this.id,
          'description':this.description
        }
        this.disableButton= true;
        axios
          .post(this.$host+'note/'+this.id, this.formData)
          .then((response) => {
            if(response.data.status == true)
              this.msg = "Updated"
            else
              this.msgError = response.data.error;
          })
          .catch(err =>{
            this.msgError = err;
          })
          .finally(() =>{
            this.disableButton = false 
          });
      }
  },
  created(){
    this.showNote(); 
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .note{
      text-align: left;
  }
  .note__details h2{
    margin-bottom: 20px;
  }
</style>
