<template>
  <div id="app">
     <Navbar />
    <div class="clearfix"></div>

    <router-view/>
    
     
  </div>
</template>
<script src="https://js.pusher.com/5.0/pusher.min.js"></script>
<script>
import Navbar from './components/Navbar.vue'

export default {
  name: 'app',
  components: {
    Navbar,
  }
}



   

    // Enable pusher logging - don't include this in production


    // Pusher.logToConsole = true;

    // var pusher = new Pusher('124e95a535f12fc269fe', {
    //   cluster: 'eu',
    //   forceTLS: true
    // });

    // var channel = pusher.subscribe('my-channel');
    // channel.bind('my-event', function(data) {
    //   alert(JSON.stringify(data));
    // });

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 60px;
}
.note{
  margin-top: 25px;
  padding: 20px;
}
/* @import'~bootstrap/dist/css/bootstrap.css' */
</style>
